{% extends 'main.html' %}

{% block content %}
<main class="create-room layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <a href="{{ request.META.HTTP_REFERER }}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>arrow-left</title>
              <path d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
              </path>
            </svg>
          </a>
          <h3>Create/Update Music Room</h3>
        </div>
      </div>

      <div class="layout__body">
        <form class="form" action="{% url 'upload-music' %}" method="POST"  enctype="multipart/form-data">

          <div class="form__group">
             {% csrf_token %}

         <div class="form__group">
                    <label for="title">Enter a Song Name</label>
                    <input required type="text" name="title" />
                    </div>

                    <div class="form__group">
                    <label for="artist">Music Artist</label>
                    <input type="text" name="artist" />
                    </div>

                    <div class="form__group">
                    <label for="file">Music upload</label>
                    <input type="file" name="file" />
                    </div>

                    <div class="form__group">
                    <label for="avatar">Music avatar</label>
                    <input type="file" name="avatar" />
                    </div>

          <div class="form__action">
            <a class="btn btn--dark" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
            <button class="btn btn--main" type="submit">Submit</button>
          </div>
                    {% if form.errors %}
<div class="alert alert-danger alert-dismissible col-12 mx-1" role="alert">
    <div id="form_errors">
    {% for key, value in form.errors.items %}
        <span class="fieldWrapper">
            {{ key }}:{{ value }}
        </span>
    {% endfor %}
</div>
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
</div>
{% endif %}
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
